<div class="card" *ngFor="let task of tasks">
    <div class="card-header">
      {{task.category}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{task.title}}</h5>
      <p class="card-text">{{task.description}}</p>
      <a [routerLink]="['/a_task', task._id]" class="btn btn-primary">Show Details</a>
    </div>
  </div>

  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 

  